@import "variables";

.dashboard-wrapper {
    padding: 30px;
}



.my-card {
    padding: 16px;
    background-color: $white;
}

.row {
    margin-bottom: 16px;
}


.new-card {
    background-color: white;
    padding: 16px;
    border-radius: 3px;
    height: 100%;

    h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 16px;
        color: $black;
    }
}