
$font-size : 16;
$font-size-base-px : $font-size * 1px;
$font-size-base-narrow : $font-size - 2;
$font-size-base-narrow-px : $font-size-base-narrow * 1px;

$font-family :'Inter', sans-serif;

$primary : #506DE2;
$secondary-1 : #5991c9;
$tertairy : #5991C91A;

$white : #ffffff;
$black : #4a4a4a;

$bg-grey : #F4F7FC;


$secondary-1-lt :#0085C70D;
$secondary-2 : #00BFFF;
$table-header : #EEF4FA;
$table-border : #E4E6E9;

$grey1 : #777777;
$grey2 : #A0A0A0;
$grey3 : #E4E6E9;
$grey4 : #F3F4F7;



$success :  #2ECD71;
$danger : #EB596E;
// $info : #7783A4;
$warn : #FEC001;
$link : #00A8E8;
$mute : #7783A4;

