<div class="navbar page-header p-0 navbar-light fixed-top ">
    <div class="h-100 d-flex">
        <div class="top-nav-left">
            <a routerLink="" class="logo">
                <span class="logo">
                    <img class="menu" src="../../assets/menu-2-line.svg" alt="" />
                </span>
            </a>
        </div>
        <div class="search-wrapper">
            <input type="search" class="search-input" placeholder="Search">
            <img class="search-icon" src="../../assets/search-line.svg" alt="" />

        </div>
    </div>


    <div class="topbar-right">

        <div class="language">
            <p>eng</p>
            <img src="../../assets/arrow-drop-down-line.svg" alt="">
        </div>
        <div class="message">
            <img src="../../assets/message-2-line.svg" alt="">

        </div>
        <div class="bell">
            <img src="../../assets/notification-2-line.svg" alt="">

        </div>
        <div class="profile">
            <img src="../../assets/user.jpg" alt="">
            <div class="d-flex gap-1 align-items-center">
                <p>Camille Stevenson</p>
                <img class="down-arr" src="../../assets/arrow-drop-down-line.svg" alt="">
            </div>
        </div>



    </div>
</div>